<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Practise Your English</h2>
    <h3>From professional speakers</h3>
    <a href="/smoothies" class="btn">Start Now</a>
    <a href="/signup">SignUp</a>
  </div>
</header>


<%- include('partials/footer'); -%>