<%- include('partials/header'); -%>

<form>

    <h2>Sign Up</h2>

    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>

    <label for="password">Password</label>
    <input type="password" name="password" required>
    <div class="password error"></div>
    <button>SignUp</button>
</form>


<script>
    const form = document.querySelector('form')

    form.addEventListener('submit', async (e) => {
        e.preventDefault()

        //get the values 
        const email = form.email.value
        const password = form.password.value

        /* send a request to the server */

        try {
            const rest = await fetch('/signup', {
                method: 'post',
                body: JSON.stringlify({
                    email,
                    password
                }), //pass the data to go
                headers: {
                    'Content-Type': 'application/json'
                }

            })
        } catch (error) {
            console.log(error);

        }

    })
</script>


<%- include('partials/footer'); -%>