<%- include('partials/header'); -%>

<ul class="recipes">
  <a href="#">
    <li class="recipe">
      <img src="/smoothie.png" alt="smoothie recipe icon">
      <h4>Basic Words</h4>
      <p>practise these commonly used words</p>
  </a>
  </li>
  <li class="recipe">
    <a href="#">
      <img src="/smoothie.png" alt="smoothie recipe icon">
      <h4>Common Sentences</h4>
      <p>Practise these commonly used sentences</p>
    </a>
  </li>
  <li class="recipe">
    <a href="#">
      <img src="/smoothie.png" alt="smoothie recipe icon">
      <h4>A1 Level</h4>
      <p>Learn the basics of the English starting from Alevel</p>
    </a>
  </li>
  <li class="recipe">
    <a href="#">
      <img src="/smoothie.png" alt="smoothie recipe icon">
      <h4>A2 Level</h4>
      <p>İmprove your English</p>
    </a>
  </li>
  <li class="recipe">
    <a href="#">
      <img src="/smoothie.png" alt="smoothie recipe icon">
      <h4>B1 Level</h4>
      <p>This is the intermediate level with all the phrases commonly used </p>
    </a>
  </li>
  <li class="recipe">
    <a href="#">
      <img src="/smoothie.png" alt="smoothie recipe icon">
      <h4>B2 Level</h4>
      <p>This is the upper intermediate level </p>
    </a>
  </li>
  <li class="recipe">
    <a href="#">
      <img src="/smoothie.png" alt="smoothie recipe icon">
      <h4>C1 Level</h4>
      <p>This is the advanced level </p>
    </a>
  </li>
  <li class="recipe">
    <a href="#">
      <img src="/smoothie.png" alt="smoothie recipe icon">
      <h4>Now put everything in practise and call us for Free </h4>
      <p>The first call is for free and after that you can pay $10 montly and call us 2 times a week to practise your
        English</p>
      <button onclick="call()">Call</button>
    </a>
  </li>
</ul>

<%- include('partials/footer'); -%>